.content-AP{
    background-color: rgba(17, 32, 27, 0.8);
    text-align: center;
    overflow: hidden;
    max-width: 900px;
    margin-left: 28%;
    margin-top: 10%;
}
.content-AP h2{
    color: white;
    text-shadow: 2px 2px 5px rgb(48, 192, 228);
}
.content-AP form{
    margin-left: 20.5%;
    border-radius: 10px;
}
.content-AP form input{
    border: none;
    background-color: transparent;
    color:white;
    border-bottom: solid 3px darkblue;
    opacity: 0.9;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content-AP form select{
    background-color: rgb(160, 178, 238);
}
.content-AP button{
    border-radius: 10px;
    height: 25px;
    background-color: rgb(57, 185, 218);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content-AP button:hover{
    background-color: rgb(26, 6, 209);
    color: white;
}