.footer{
    background-color: rgba(0,0,0,0.92);
    text-align: center;
}
.Email{
    margin-top:9px;
}
.Email input{
    width: 80%;
    padding: 10px 20px;
    border-radius: 3px;
    border:solid;
    border-color:rgb(52, 95, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Email button{
    min-width: 100px;
    min-height: 40px;
    background-color:rgb(52, 95, 214) ;
    color: none;
    padding:0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Email button:hover{
    background-color:rgb(11, 43, 133) ;
}
.cuadro{
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
    font-family:'Times New Roman', Times, serif;
    flex-wrap: wrap;
    gap:40px;
}
.cuadroFila ul {
  list-style-type: none;
  padding: 0;   
  margin-left: 30%; 
}
.abajo{
    display: flex;
    justify-content: space-between;
}
.Sigue{
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 30px;
}
.Pais{
    display: flex;
    gap:10px;
    margin-right: 20px;
}
.Tienda{
    color:rgb(8, 134, 8);
    font-style: italic;
    text-decoration: underline;
    text-shadow: 2px 2px 5px green;
    margin-right: 70px;
    padding-bottom: 10px;
}
.gray{
    color:gray;
}
.dorado{
    color:darkgoldenrod;
}
.blue{
    color:white;
}